div{
    text-align: center;
    font-size: larger;
    color: cadetblue;
}
img{
    display: block;
    margin: 0 auto;
    width: 20%;
}
.error-output{
    margin: left;
    font-size: 12px;
    font-style: italic;
    color:rgb(255, 2, 2);
}